@import url(../icons/font-awesome/css/font-awesome.min.css);

body {
    background: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #67757c;
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
    background: #f8f9fa;
}

.header{
    position: relative;
    z-index: 50;
    background: #008299;
    box-shadow: 0px 4px 26px 0px rgb(0, 0, 0, 0.3);
}

.header .top-navbar {
    min-height: 50px;
    padding: 0 15px 5px 0;

}

.header .top-navbar .navbar-header {
    line-height: 45px;
    text-align: center;
    
}

.header .top-navbar .navbar-header .navbar-brand {
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    color: #dfe6e9;
    
  }

.header .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
}

.header .top-navbar .navbar-header .navbar-brand b {
  line-height: 60px;
  display: inline-block;
}

.menu-icon{
  width: 20px;
  text-align: center;
  margin-left: 15px;
  
}

.logout-icon{
  margin-left: auto;
  height: 100%;
  font-size: 23px;
}


.left-sidebar {
    position: absolute;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 20;
    padding-top: 60px;
    background-color: #2d353c;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.close{
  margin-left: -240px;
  opacity: 50;
  transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.sidebar-nav {
  padding: 0;
}

.sidebar-nav ul {
    margin: 0;
    padding: 0;
  }
  .sidebar-nav ul li {
    list-style: none;
  }
  .sidebar-nav ul li a {
    color: #c8c9ce;
    padding: 7px 35px 7px 15px;
    display: block;
    font-size: 14px;
    white-space: nowrap;
  }
  .sidebar-nav ul li a:hover {
    color: #d7d9e3;
    text-decoration: none;
    
  }
  .sidebar-nav ul li a:hover i {
    color: #d7d9e3;
  }
  .sidebar-nav ul li a.active {
    color: #d7d9e3;
    font-weight: 500;
  }
  .sidebar-nav ul li a.active i {
    color: #d7d9e3;
  }
  .sidebar-nav ul li ul {
    padding-left: 28px;
  }
  .sidebar-nav ul li ul li a {
    padding: 7px 35px 7px 15px;
  }
  .sidebar-nav ul li ul ul {
    padding-left: 15px;
  }
  .sidebar-nav ul li.nav-label {
    font-size: 12px;
    margin-bottom: 0;
    padding: 14px 14px 14px 20px;
    color: #9496a1;
    font-weight: 600;
    text-transform: uppercase;
  }
  .sidebar-nav ul li.nav-devider {
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
  }
  .sidebar-nav > ul > li {
    margin-bottom: 5px;
  }
  .sidebar-nav > ul > li > a {
    border-left: 3px solid transparent;
  }
  .sidebar-nav > ul > li > a i {
    width: 27px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    color: #b7b7bb;
  
  }
  .sidebar-nav > ul > li > a .label {
    position: absolute;
    right: 35px;
    top: 8px;
  }
  .sidebar-nav > ul > li > a.active {
    font-weight: 500;
    background: #242a31;
    color: #d7d9e3;

  }
  .sidebar-nav .active::before{
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    right: 0px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;

  }
  .sidebar-nav .has-no-arrow {
    position: relative;
  }
  .sidebar-nav .has-arrow {
    position: relative;
  }
  .sidebar-nav .has-arrow:after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #607d8b;
    right: 1em;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 47%;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .sidebar-nav .active > .has-arrow:after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    top: 45%;
    width: 7px;
    transform: rotate(-135deg) translate(0, -50%);
  }
  .sidebar-nav .has-arrow[aria-expanded=true]:after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    top: 45%;
    width: 7px;
    transform: rotate(-135deg) translate(0, -50%);
  }
  .sidebar-nav li > .has-arrow.active:after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    top: 45%;
    width: 7px;
    transform: rotate(-135deg) translate(0, -50%);
  }

.sidebarnav .active{
    background: #9ba7ad;
}
.page-wrapper {
    margin-left: 240px;
    background: #f5f5f5;
    padding-bottom: 60px;
    height: 100%;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
  }

.container-fluid {
  padding: 10px 20px 25px;
}

.card{
    background-color: #fff;
    border-style: none;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    margin-top: 20px;
    
}
.card .shop-record{
  padding: 30px;
  
}

.card-body{
  padding: 0;
  display: flex;
}

.card-body-section{
  margin: 0;
  
  display: inline;
}

.card-body-section .card-table{
  padding: 0 30px 0 30px !important;
  
}

.card-body-section .card-table .card-body{
  height: 225px;
  overflow:auto;
}


.card .basic-form{
  padding: 20px;
  padding-bottom: 30px;
}

.card .shop-record .card-title{
  padding-top: 5px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.card .media{
    padding: 15px;
 
}

.card .media-body{
  padding: 0;
}

.card .media-left{
    font-size: 25px;
}

.card .media-body{
    padding-top: 15px;
}

.card .form-title{
    padding: 40px 15px 0 30px;
    color: #303030;
}

.card form button{
    margin-top: 10px;
    margin-left: 20px;
}

.card .preview-container{
    padding: 5px 0 5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card .card-table{
  padding: 30px;
}

.card .form-group{
  display: inline-block;
}

.card .login-form{
  display: block;
}

.login-content{
  background-color: rgb(250, 249, 249);
  padding: 90px 30px 60px 30px;
}

.login-content h2{
  text-align: center;
  color: #333333;
}

.login-content h6{
  text-align: center;
  color: #b4b4b4;
}

.login-content button{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.login-form .loginContent{
  padding: 0 20px;
}

.login-form .btn{
  margin: auto;
}

#result {
  font-weight: bold;
}

.result-table{
  margin-left: -30px;
}

#alert-div{
  position: absolute;
  top: 67px;
  right: 15px;
  width: 300px;
}

.result-total{
  margin-left: -30px;
  display: flex;
}

.result-total strong{
  margin-right: auto;
}

.result-total h4{
  margin-left: auto;
  margin-right: 40px;
}

.result-button{
  margin-top: 15px;
  margin-left: -30px;
  width: 50%;

}

.new-button{
  margin-left: auto;
}

#shop-revenue-manager{
  margin-left: auto;
  display:flex;
}

#shop-revenue-manager i{
  font-size: 28px;
  margin-right: 10px;
}

.shop-record .card-title {
  display: flex;
}

.employee-record {
  padding: 30px;  
}


#employee-section{
  margin-left: auto;
}

#shopmanager-section{
  margin-right: auto;
}

@media (min-width: 768px) {
    .navbar-header {
        width: 240px;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
      }
    
    .navbar-header .navbar-brand {
    padding-top: 0;
    }
    
}

@media (max-width: 767px) {
    .header {
        position: fixed;
        width: 100%;
    }

    .header .top-navbar {
        padding-right: 15px;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-align-items: center;
    }
    .header .top-navbar .navbar-header{
        padding-left: 15px;
        margin-right: auto;
    }
    

    .page-wrapper{
        padding-top: 65px;
        padding-left: 0;   
        margin-left:0; 
        height: 100%;
    }

    .card .shop-record{
      padding: 20px;
    }

    .login-form .loginContent{
      padding: 0 0;
    }

    #alert-div{
      right: 5px;
    }
}