<!DOCTYPE html>
<html>
  <head>
    <title>Create Product</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/products">Product List</a></h3>
      <h1>Create New Product</h1>
      <form action="/products/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Product Code</td>
              <td><input type="text" name="product_code" /></td>
            </tr>
             <tr>
              <td>Price</td>
              <td><input type="number" name="price" /></td>
            </tr>
             <tr>
              <td>Stock</td>
              <td><input type="number" name="stock" /></td>
            </tr>
            <tr>
              <td colspan="2"><input type="submit" value="Save" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>