<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/products/create">Create Product</a></h3>
      <h1>Product List</h1>
      <% if(products.length>0) { %>
      <table>
        <thead>
          <tr>
            <th>Product Code</th>
            <th>Price</th>
            <th>StocK</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<products.length;i++) { %>
            <tr>
              <td><a href="/products/show/<%= products[i]._id%>"><%= products[i].product_code%></a></td>
              <td><%= products[i].price%></td>
              <td><%= products[i].stock%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No product found.</div>
      <% } %>
    </div>
  </body>
</html>